@model PesquisaEleitoral_MVC.Models.VotoViewModel

@{
    ViewBag.Title = "Voto";
}

<h2>Voto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cand in Model.Candidatos)
                {
                    <tr>
                        <td>@cand.Numero</td>
                        <td>@cand.Nome</td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="form-group">
            @Html.LabelFor(model => model.NumeroCandidato, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroCandidato, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumeroCandidato)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Votar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
